/* Font Provided by Google
font-family: 'Athiti', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
*/

/* Base */
.hero {
  font-family: 'Athiti', sans-serif;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Header */
#logo-SE {
  font-family: 'Athiti', sans-serif;
}

#header {
  background-color: #2A558C;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.has-background {
  background:
    /* top, transparent red */
    linear-gradient(to bottom right,
    rgba(10, 33, 64, 0.9),
    rgba(42, 85, 140, 0.9)),
    /* bottom, image */
    url("https://ae01.alicdn.com/kf/HTB1rAteOXXXXXb7XVXXq6xXFXXXm/Newspaper-Wallpaper-In-English-Alphabet-Retro-Nostalgic-Fashion-Shop-Decoration-Personalized-Clothing-Store-Old-Wall-Paper.jpg_640x640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.has-def-background {
  background-image: linear-gradient(to bottom right, #0A2140, #2A558C);
}

.has-def-text {
  font-family: "Bai Jamjuree", sans-serif;
}
